# Dataframe

## Creazione di un dataframe da Series

In [1]:
import pandas as pd

s1 = pd.Series(data=[1, 2, 3])
print(s1)

0    1
1    2
2    3
dtype: int64

### Creazione di un dataframe da una Series con un indice specifico

In [2]:
s_2dim = pd.Series([1, 2], index=['a', 'b'], name='s2')
print(s_2dim)

a    1
b    2
Name: s2, dtype: int64

### Concatenazione di due Series in un dataframe con axis=1

In [3]:
s2 = pd.Series([3, 7, 2])

In [4]:
s_tot = pd.concat([s1, s2], axis=1)
print(s_tot)

   0  1
0  1  3
1  2  7
2  3  2

### Concatenzione di due Series dove ci stanno dati not a number

In [5]:
s_nonomog = pd.concat([s1, s_2dim], axis=1)
print(s_nonomog)

     0   s2
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
a  NaN  1.0
b  NaN  2.0

## Creazione di un dataframe da un dizionario

In [6]:
studenti = {'Barone Matteo': ['9:00', '15:00'], 'Costa Luca': ['9:00', '14:45'], 'Petrachi Giulio': ['10:00', '14:45']}
print(studenti)

{'Barone Matteo': ['9:00', '15:00'], 'Costa Luca': ['9:00', '14:45'], 'Petrachi Giulio': ['10:00', '14:45']}

In [7]:
studenti['Costa Luca']

['9:00', '14:45']

In [8]:
studenti_df = pd.DataFrame(studenti)
print(studenti_df)

  Barone Matteo Costa Luca Petrachi Giulio
0          9:00       9:00           10:00
1         15:00      14:45           14:45

### DataFrame Vuoto

In [9]:
stringa = ""
lista = []
dizionario = {}

df_vuoto = pd.DataFrame()

if not lista:
    print("Lista vuota")
if not stringa:
    print("Stringa vuota")

Lista vuota
Stringa vuota

In [10]:
print(df_vuoto)

Empty DataFrame
Columns: []
Index: []

## Manipolazione di un dataframe

In [11]:
studenti_df

  Barone Matteo Costa Luca Petrachi Giulio
0          9:00       9:00           10:00
1         15:00      14:45           14:45

In [12]:
print(studenti_df.columns)

Index(['Barone Matteo', 'Costa Luca', 'Petrachi Giulio'], dtype='object')

In [13]:
nuovi_nomi = []

for nome in studenti_df.columns:
    nuovi_nomi.append(nome.replace(' ', '_').lower())

print(nuovi_nomi)

['barone_matteo', 'costa_luca', 'petrachi_giulio']

In [14]:
studenti_df.columns = nuovi_nomi
print(studenti_df)

  barone_matteo costa_luca petrachi_giulio
0          9:00       9:00           10:00
1         15:00      14:45           14:45

### Funzione Rename delle colonne con i nuovi valori passati come dizionario

In [15]:
nuovi_minuscoli = {}

for colname in studenti_df.columns:
    nuovi_minuscoli[colname] = colname.lower()

print(nuovi_minuscoli)

{'barone_matteo': 'barone_matteo', 'costa_luca': 'costa_luca', 'petrachi_giulio': 'petrachi_giulio'}

In [16]:
studenti_df.rename(columns=nuovi_minuscoli, inplace=True)

print(studenti_df)

  barone_matteo costa_luca petrachi_giulio
0          9:00       9:00           10:00
1         15:00      14:45           14:45

### Accedere a una colonna

In [17]:
orari_ps = studenti_df['barone_matteo'].to_list()

print(orari_ps)

['9:00', '15:00']

### Trasformare in array numpy

In [18]:
import numpy as np

# orari_ps = studenti_df['barone_matteo'].to_numpy()
orari_ps = np.array(studenti_df['barone_matteo'])

print(orari_ps)

['9:00' '15:00']

## Modifica Dell'indice

#### Prima Creo la colonna da impostare come indice

In [19]:
indice_da_inserire = ['orario_ingresso', 'orario_uscita']

studenti_df['orari'] = indice_da_inserire
print(studenti_df)

  barone_matteo costa_luca petrachi_giulio            orari
0          9:00       9:00           10:00  orario_ingresso
1         15:00      14:45           14:45    orario_uscita

In [20]:
studenti_df.set_index('orari', inplace=True)

In [21]:
studenti_df

                barone_matteo costa_luca petrachi_giulio
orari
orario_ingresso          9:00       9:00           10:00
orario_uscita           15:00      14:45           14:45

### Reset dell'indice

In [22]:
# studenti_df.reset_index(drop = True ,inplace=True)
# print(studenti_df)

## Accesso alle righe

In [23]:
#iloc: numero progressivo della riga
pg_uscita = studenti_df['petrachi_giulio'].iloc[1]
print(pg_uscita)

14:45

### Accesso alle righe con loc

In [24]:
pg_ingresso = studenti_df.loc['orario_ingresso', 'petrachi_giulio']
print(pg_ingresso)

10:00

### Loop sull'indice

In [25]:
studenti_df.index

Index(['orario_ingresso', 'orario_uscita'], dtype='object', name='orari')

In [26]:
# Voglio tutti gli orari di ingresso e uscita

for orario in studenti_df.index:
    print(orario + ":")
    for studente in studenti_df.columns:
        orario_corrente = studenti_df[studente].loc[orario]
        print(f"{studente}: {orario} = {orario_corrente}")

orario_ingresso:
barone_matteo: orario_ingresso = 9:00
costa_luca: orario_ingresso = 9:00
petrachi_giulio: orario_ingresso = 10:00
orario_uscita:
barone_matteo: orario_uscita = 15:00
costa_luca: orario_uscita = 14:45
petrachi_giulio: orario_uscita = 14:45

### Aggiunta di una colonna

In [27]:
nuovo_studente_orari = ['8:00', '14:30']
nuova_colonna = pd.Series(nuovo_studente_orari, name='quagnano_gabriele', index=studenti_df.index)

nuova_colonna

orari
orario_ingresso     8:00
orario_uscita      14:30
Name: quagnano_gabriele, dtype: object

In [28]:
studenti_df = pd.concat([studenti_df, nuova_colonna], axis=1)

studenti_df

                barone_matteo costa_luca petrachi_giulio quagnano_gabriele
orari
orario_ingresso          9:00       9:00           10:00              8:00
orario_uscita           15:00      14:45           14:45             14:30

### Aggiunta di una riga con dizionario

In [29]:
orario_pranzo ={
    'barone_matteo': '14:00',
    'costa_luca': '14:00',
    'petrachi_giulio': '14:00',
    'quagnano_gabriele': '14:00'
}

In [30]:
studenti_df.loc['orario_pranzo'] = orario_pranzo
studenti_df

                barone_matteo costa_luca petrachi_giulio quagnano_gabriele
orari
orario_ingresso          9:00       9:00           10:00              8:00
orario_uscita           15:00      14:45           14:45             14:30
orario_pranzo           14:00      14:00           14:00             14:00

## Salvare in file csv

In [31]:
file_path = './dataset/'

studenti_df.to_csv(file_path + 'orari_studenti_index.csv', index=True)
studenti_df.to_csv(file_path + 'orari_studenti_noindex.csv', index=False)