# Dataframe

## Creazione di un dataframe da Series

In [ ]:
import pandas as pd

s1 = pd.Series(data=[1, 2, 3])
print(s1)

### Creazione di un dataframe da una Series con un indice specifico

In [ ]:
s_2dim = pd.Series([1, 2], index=['a', 'b'], name='s2')
print(s_2dim)

### Concatenazione di due Series in un dataframe con axis=1

In [ ]:
s2 = pd.Series([3, 7, 2])

In [ ]:
s_tot = pd.concat([s1, s2], axis=1)
print(s_tot)

### Concatenzione di due Series dove ci stanno dati not a number

In [ ]:
s_nonomog = pd.concat([s1, s_2dim], axis=1)
print(s_nonomog)

## Creazione di un dataframe da un dizionario

In [ ]:
studenti = {'Barone Matteo': ['9:00', '15:00'], 'Costa Luca': ['9:00', '14:45'], 'Petrachi Giulio': ['10:00', '14:45']}
print(studenti)

In [ ]:
studenti['Costa Luca']

In [ ]:
studenti_df = pd.DataFrame(studenti)
print(studenti_df)

### DataFrame Vuoto

In [ ]:
stringa = ""
lista = []
dizionario = {}

df_vuoto = pd.DataFrame()

if not lista:
    print("Lista vuota")
if not stringa:
    print("Stringa vuota")

In [ ]:
print(df_vuoto)

## Manipolazione di un dataframe

In [ ]:
studenti_df

In [ ]:
print(studenti_df.columns)

In [ ]:
nuovi_nomi = []

for nome in studenti_df.columns:
    nuovi_nomi.append(nome.replace(' ', '_').lower())

print(nuovi_nomi)

In [ ]:
studenti_df.columns = nuovi_nomi
print(studenti_df)

### Funzione Rename delle colonne con i nuovi valori passati come dizionario

In [ ]:
nuovi_minuscoli = {}

for colname in studenti_df.columns:
    nuovi_minuscoli[colname] = colname.lower()

print(nuovi_minuscoli)

In [ ]:
studenti_df.rename(columns=nuovi_minuscoli, inplace=True)

print(studenti_df)

### Accedere a una colonna

In [ ]:
orari_ps = studenti_df['barone_matteo'].to_list()

print(orari_ps)

### Trasformare in array numpy

In [ ]:
import numpy as np

# orari_ps = studenti_df['barone_matteo'].to_numpy()
orari_ps = np.array(studenti_df['barone_matteo'])

print(orari_ps)

## Modifica Dell'indice

#### Prima Creo la colonna da impostare come indice

In [ ]:
indice_da_inserire = ['orario_ingresso', 'orario_uscita']

studenti_df['orari'] = indice_da_inserire
print(studenti_df)

In [ ]:
studenti_df.set_index('orari', inplace=True)

In [274]:
studenti_df

                barone_matteo costa_luca petrachi_giulio
orari
orario_ingresso          9:00       9:00           10:00
orario_uscita           15:00      14:45           14:45

### Reset dell'indice

In [ ]:
studenti_df.reset_index(drop = True ,inplace=True)
print(studenti_df)